main{
    position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
  }
  
  .comingSoon {
      background-color: #15172b;
      border-radius: 20px;
      box-sizing: border-box;
      height: 300px;
      padding: 20px;
      width: 600px;
    }
    
    .title {
      color: #eee;
      font-family: sans-serif;
      font-size: 45px;
      font-weight: 600;
      margin-top: 60px;
    }
    
    .subtitle {
      color: #eee;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
    }