.Selection-containers {
  z-index: 1;
  position: absolute;
  padding: 25px;
  color: white;
}

.difficulty-selector {
  font-size: 60px;
  font-weight: bold;
}

.arrow {
  font-size: 60px;
  font-weight: bold;
  color: azure;
  padding: 10px;
  background: none;
  border: none;
}

.arrow:hover {
  color: #20b5d8;
}

.confirm-button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  background-color: #143785;
  color: #20b5d8;
  border-color: transparent;
}

.confirm-button:hover {
  transition: all .5s;
  border-radius: 2rem;
  width: 35%;
  height: 100%;
}

.button-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}