main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.btn {
    --color: #15172b;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
    margin-top: -400px;
  }
  
  .btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: #06b;
    padding: 1rem;
  }
  
  .btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 2px solid #06b;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
  }
  
  .btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
  }
  
  .btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
  }
  
  .btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
  }
  
  .btn:hover svg {
    width: 25px;
    transform: translateX(0%);
    opacity: 1;
  }
  
  .btn:active {
    filter: brightness(1.4);
  }