@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.Selection-containers {
  position: absolute;
  padding: 25px;
  background-color: #143785;
  color: white;
}

.input-selector {
  font-size: 60px;
  font-weight: bold;
}

.confirm-button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  background-color: #143785;
  color: #20b5d8;
  border-color: transparent;
}

.confirm-button:hover {
  width: 45%;
  height: 100%;
}

.button-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  position: absolute;
  top: 3%;
  font-size: 60px;
  color: white;
}

.subtitle{
    position: absolute;
    top: 35%;
    left: 44%;
    font-size: 30px;
    color: white;
}



.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}