.team-container {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  position: absolute;
}

.team-container h1 {
  position: absolute;
  top: -25%;
  color: #fff;
  font-size: 3em;
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.team-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.team-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.team-card h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.team-card p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 250pxpx;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #000;
  transition: 0.3s;
  border-radius: 40px;
}

.team-member:hover {
  box-shadow: 0 16px 32px 0 #15172b;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}